.bash_history
.bash_logout
.ca/
.cache/
.config/
.gitconfig
.lesshst
.local/
.pip/
.profile
.ssh/
.vim/autoload/
.viminfo
.vimrc
Applications/
ClionProjects/
Desktop/
Documents/
Downloads/
Dropbox
Library/
Movies/
Music/
Pictures/
Public/
PycharmProjects/
VMware/
VirtualBox VMs/
workspace/
.*
examples.desktop
Dropbox*
CLionProjects/
fontconfig/
Virtual Machines.localized/
Android/
Pictures
java_error_in_IDEA.hprof
snap/
vendor/
