.bash_history                                                                                                                                                                                                                             
.bash_logout                                                                                                                                                                                                                              
.ca/                                                                                                                                                                                                                                      
.cache/                                                                                                                                                                                                                                   
.config/                                                                                                                                                                                                                                  
.gitconfig                                                                                                                                                                                                                                
.lesshst                                                                                                                                                                                                                                  
.local/                                                                                                                                                                                                                                   
.profile                                                                                                                                                                                                                                  
.ssh/                                                                                                                                                                                                                                     
.vim/autoload/                                                                                                                                                                                                                            
.viminfo                                                                                                                                                                                                                                  
.vimrc                                                                                                                                                                                                                                    
Downloads/*                                                                                                                                                                                                                               
env.env
