[submodule "code/git"]
	path = code/git
	url = https://github.com/git/git
[submodule "/home/kikitux/.vim/bundle/vim-go"]
	path = /home/kikitux/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "/home/kikitux/.vim/bundle/vim-airline"]
	path = /home/kikitux/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "/home/kikitux/.vim/bundle/vim-airline-themes"]
	path = /home/kikitux/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
